/* Input */

.input-container {
    margin: 1rem 0;
    width: 100%;
    max-width: 600px;
    position: relative;

    @media only screen and (min-width: 1000px) {
      min-width: 20rem;
    }
  }
  
  .label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: black;
  }
  
  .text-input {
    padding: 0.8rem;
    width: calc(100% - 1.6rem - 4px);
    height: 100%;
    border: 2px solid #a0a0a0;
    background: white;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: black;
  }
  
  .date-input {
    padding: 0.8rem;
    width: calc(100% - 1.6rem - 4px);
    height: 100%;
    border: 2px solid #a0a0a0;
    background: white;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: black;
  }
  
  .label::before {
    content: "";
    height: 5px;
    background: white;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
  }
  
  .text-input:focus {
    border: 2px solid #4B30E8;
  }
  
  .text-input:focus + .label,
  .filled {
    top: -10px;
    color: #4B30E8;
    font-size: 14px;
  }
  
  .text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
  }
  .text-input:focus::placeholder {
    opacity: 1;
  }

  textarea {
    resize: vertical;
  }

// Button

  .bubbly-button {
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 1em 2em;
    -webkit-appearance: none;
    appearance: none;
    background-color: #4B30E8;
    color: #fff;
    border-radius: 0.7rem;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0px 4px 4px rgba(75, 48, 232, 0.25);
  }
  
  .bubbly-button:focus {
    outline: 0;
  }
  
  .bubbly-button:before,
  .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #4B30E8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #4B30E8 20%, transparent 30%),
      radial-gradient(circle, #4B30E8 20%, transparent 20%),
      radial-gradient(circle, #4B30E8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #4B30E8 15%, transparent 20%),
      radial-gradient(circle, #4B30E8 20%, transparent 20%),
      radial-gradient(circle, #4B30E8 20%, transparent 20%),
      radial-gradient(circle, #4B30E8 20%, transparent 20%),
      radial-gradient(circle, #4B30E8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
  }
  
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #4B30E8 20%, transparent 20%),
      radial-gradient(circle, #4B30E8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #4B30E8 15%, transparent 20%),
      radial-gradient(circle, #4B30E8 20%, transparent 20%),
      radial-gradient(circle, #4B30E8 20%, transparent 20%),
      radial-gradient(circle, #4B30E8 20%, transparent 20%),
      radial-gradient(circle, #4B30E8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  
  .bubbly-button:active {
    transform: scale(0.9);
    background-color: #4B30E8;
    box-shadow: 0px 4px 4px rgba(75, 48, 232, 0.25);
  }
  
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
  
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  