// Fonts

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
  font-family: 'Sanshiro';
  src: url("./assets/Sanshiro-Black.ttf") format("truetype");
}

// Colors

$purple: #4B30E8;
$yellow: #F0B35B;

:root {
  --purple: #{$purple};
  --yellow: #{$yellow};
}

// Typography

h1 {
  margin: 0;
  font-family: 'Sanshiro', sans-serif;
  color: $purple;
  font-size: 3.1rem;
}

h2 {
  margin: 0;
  font-family: 'Sanshiro', sans-serif;
  color: $yellow;
  font-size: 2.2rem;
}

h3 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

h4 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Sanshiro', sans-serif; 
}

p {
  font-size: 1rem;
}

// Other styling

.page-margin {
  margin: 0 1.5rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: unquote('env(safe-area-inset-bottom)');
  scroll-behavior: smooth;
}

section {
  margin-bottom: 4rem;
}

a {
  color: unset;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

textarea {
  font-family: inherit;
}

a[class^="project-"]:hover {
  background-color: #2306c7;
}